<!-- Scope -->
@{
    ViewData["Root"] = "Sadena";
    ViewData["Modulo"] = "Nacimientos";
    ViewData["Option"] = "Reportes";
    ViewData["Title"] = ViewData["Modulo"] + " / " + ViewData["Option"];

    /* Indicators. */
    ViewData["Todos"] = "Todos";
    ViewData["EdadMadre"] = "Edad de la madre";
    ViewData["EstadoCivil"] = "Estado civil";
    ViewData["NumeroNacidosVivos"] = "Número de nacimientos vivos";
    ViewData["Escolaridad"] = "Escolaridad";
    ViewData["SexoRecienNacido"] = "Sexo de recién nacido";

}

<!-- Page content -->
<div class="page-content">

    <!-- Container -->
    <div class="container-fluid">

        <!-- Breadcrumb -->
        <section class="pull-right">
            <ul class="breadcrumb">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home mr-3"></i>@ViewData["Root"]</a></li>
                <li><a href="#">@ViewData["Modulo"]</a></li>
                <li class="active">@ViewData["Option"]</li>
            </ul>
        </section>
        <!-- ./breadcrumb -->

        <!-- Reports section -->
        <section>

            <!-- Report container -->
            <div class="report-container">
                <!-- Header -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="report-title">
                            <h4>Seleccione los indicadores socioeconómicos deseados:</h4>
                        </div>
                    </div>
                </div>
                <!-- Menu -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="report-options">
                            <div class="list-group">
                                <a class="list-group-item" href="#edadMadre">
                                    <i class="fa fa-reorder"></i>
                                    <span class="mr-3">@ViewData["Todos"]</span>
                                    <span class="badge badge-primary right">170,153</span>
                                </a>
                                <a class="list-group-item" href="#edadMadre">
                                    <i class="fa fa-female"></i>
                                    <span class="mr-3">@ViewData["EdadMadre"]</span>
                                    <span class="badge badge-warning right">2,150</span>
                                </a>
                                <a class="list-group-item" href="#estadoCivil">
                                    <i class="fa fa-leanpub"></i>
                                    <span class="mr-3">@ViewData["EstadoCivil"]</span>
                                    <span class="badge badge-default right">653</span>
                                </a>
                                <a class="list-group-item" href="#numeroNacidosVivos">
                                    <i class="fa fa-heartbeat"></i>
                                    <span class="mr-3">@ViewData["NumeroNacidosVivos"]</span>
                                    <span class="badge badge-success right">9,589,153</span>
                                </a>
                                <a class="list-group-item" href="#escolaridadMadre">
                                    <i class="fa fa-graduation-cap"></i>
                                    <span class="mr-3">@ViewData["Escolaridad"]</span>
                                    <span class="badge badge-danger right">18,413</span>
                                </a>
                                <a class="list-group-item" href="#sexoRecienNacido">
                                    <i class="fa fa-id-badge"></i>
                                    <span class="mr-3">@ViewData["SexoRecienNacido"]</span>
                                    <span class="badge badge-info right">37,210</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./menu -->
                <!-- Reports -->
                <div class="row">
                    <div class="reports">
                        <!-- Tables -->
                        <div class="col-sm-7">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#registradosTabPane" data-toggle="tab">Registrados</a>
                                </li>
                                <li><a href="#subregistradosTabPane" data-toggle="tab">Subregistrados</a></li>
                                <li><a href="#registrosExtemporaneosTabPane" data-toggle="tab">Registros extemporáneos</a></li>
                            </ul>
                            <div class="tab-content">
                                <!-- Report period -->
                                <div class="report-period col-sm-12">
                                    <p><strong>Periodo: </strong><span id="periodoReport" style="text-decoration: underline">Enero 2018 – Junio 2018</span></p>
                                </div>
                                <div id="registradosTabPane" class="tab-pane fade in active">
                                    <div class="report">
                                        <div class="report-tables-container col-sm-12">
                                            <!-- Reports by indicator -->
                                            <div id="edadMadreRegistradosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["EdadMadre"]</strong></h5>
                                                </div>
                                                <div id="edadMadreRegistradosTableContainer">
                                                    <table id="edadMadreRegistradosTable" class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th style="border-top: 2px solid #dddddd;">ID MPO</th>
                                                                <th style="border-top: 2px solid #dddddd;">Municipio</th>
                                                                <th style="border-top: 2px solid #dddddd;">0</th>
                                                                <th style="border-top: 2px solid #dddddd;">13</th>
                                                                <th style="border-top: 2px solid #dddddd;">14</th>
                                                                <th style="border-top: 2px solid #dddddd;">15</th>
                                                                <th style="border-top: 2px solid #dddddd;">16</th>
                                                                <th style="border-top: 2px solid #dddddd;">17</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- Records are fulling by AJAX -->
                                                            <tr><td>001</td><td>ABASOLO</td><td></td><td>2</td><td>1</td><td></td><td></td><td>3</td></tr>
                                                            <tr><td>002</td><td>ACUÑA</td><td>1</td><td>2</td><td></td><td></td><td>2</td><td></td></tr>
                                                            <tr><td>003</td><td>ALLENDE</td><td>3</td><td></td><td></td><td>5</td><td></td><td>7</td></tr>
                                                            <tr><td>004</td><td>ARTEAGA</td><td></td><td>1</td><td></td><td></td><td>4</td><td>1</td></tr>
                                                            <tr><td>005</td><td>CANDELA</td><td></td><td></td><td>3</td><td>6</td><td></td><td></td></tr>
                                                            <tr><td>006</td><td>CASTAÑOS</td><td></td><td>1</td><td>2</td><td>3</td><td></td><td>1</td></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="estadoCivilRegistradosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["EstadoCivil"]</strong></h5>
                                                </div>
                                                <div id="estadoCivilRegistradosTableContainer">
                                                </div>
                                            </div>
                                            <div id="numeroNacidosVivosRegistradosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["NumeroNacidosVivos"]</strong></h5>
                                                </div>
                                                <div id="numeroNacidosVivosRegistradosTableContainer">
                                                </div>
                                            </div>
                                            <div id="escolaridadMadreRegistradosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["Escolaridad"]</strong></h5>
                                                </div>
                                                <div id="escolaridadMadreRegistradosTableContainer">
                                                </div>
                                            </div>
                                            <div id="sexoRecienNacidoRegistradosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["SexoRecienNacido"]</strong></h5>
                                                </div>
                                                <div id="sexoRecienNacidoRegistradosTableContainer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="subregistradosTabPane" class="tab-pane fade in">
                                    <div class="report">
                                        <div class="report-tables-container col-sm-12">
                                            <!-- Reports by indicator -->
                                            <div id="edadMadreSubregistradosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["EdadMadre"]</strong></h5>
                                                </div>
                                                <div id="edadMadreSubregistradosTableContainer">
                                                </div>
                                            </div>
                                            <div id="estadoCivilSubregistradosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["EstadoCivil"]</strong></h5>
                                                </div>
                                                <div id="estadoCivilSubregistradosTableContainer">
                                                </div>
                                            </div>
                                            <div id="numeroNacidosVivosSubregistradosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["NumeroNacidosVivos"]</strong></h5>
                                                </div>
                                                <div id="numeroNacidosVivosSubregistradosTableContainer">
                                                </div>
                                            </div>
                                            <div id="escolaridadMadreSubregistradosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["Escolaridad"]</strong></h5>
                                                </div>
                                                <div id="escolaridadMadreSubregistradosTableContainer">
                                                </div>
                                            </div>
                                            <div id="sexoRecienNacidoSubregistradosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["SexoRecienNacido"]</strong></h5>
                                                </div>
                                                <div id="sexoRecienNacidoSubregistradosTableContainer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="registrosExtemporaneosTabPane" class="tab-pane fade in">
                                    <div class="report">
                                        <div class="report-tables-container col-sm-12">
                                            <!-- Reports by indicator -->
                                            <div id="edadMadreRegistrosExtemporaneosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["EdadMadre"]</strong></h5>
                                                </div>
                                                <div id="edadMadreRegistrosExtemporaneosTableContainer">
                                                </div>
                                            </div>
                                            <div id="estadoCivilRegistrosExtemporaneosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["EstadoCivil"]</strong></h5>
                                                </div>
                                                <div id="estadoCivilRegistrosExtemporaneosTableContainer">
                                                </div>
                                            </div>
                                            <div id="numeroNacidosVivosRegistrosExtemporaneosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["NumeroNacidosVivos"]</strong></h5>
                                                </div>
                                                <div id="numeroNacidosVivosRegistrosExtemporaneosTableContainer">
                                                </div>
                                            </div>
                                            <div id="escolaridadMadreRegistrosExtemporaneosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["Escolaridad"]</strong></h5>
                                                </div>
                                                <div id="escolaridadMadreRegistrosExtemporaneosTableContainer">
                                                </div>
                                            </div>
                                            <div id="sexoRecienNacidoRegistrosExtemporaneosReport" class="report-by-indicator">
                                                <div class="report-header">
                                                    <h5><strong>@ViewData["SexoRecienNacido"]</strong></h5>
                                                </div>
                                                <div id="sexoRecienNacidoRegistrosExtemporaneosTableContainer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Map -->
                        <div class="col-sm-5">
                            <div class="map-container col-sm-12">
                                <div class="customised-card">
                                    <div class="customised-card-header">
                                        <div class="customised-card-title customised-card-header-divider">
                                            Coahuila de Zaragoza<br />
                                            <span class="customised-card-subtitle">Indicadores Socieconómicos por Municipios</span>
                                        </div>
                                    </div>
                                    <div class="customised-card-body">
                                        <div id="coahuilaMap" class="report-map">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./map -->
                    </div>
                </div>
                <!-- ./reports -->
            </div>
            <!-- ./reports container -->

        </section>
        <!-- ./reports section -->

    </div>
    <!-- ./container -->

</div>
<!-- ./page content -->
