@model SadenaFenix.Transport.Nacimientos.Consultas.ConsultasViewModel

<!-- Scope -->
@{
    ViewData["Root"] = "Sadena";
    ViewData["Modulo"] = "Nacimientos";
    ViewData["Option"] = "Consultas";
    ViewData["Title"] = ViewData["Modulo"] + " / " + ViewData["Option"];
}

<!-- Page content -->
<div class="page-content">

    @Html.HiddenFor(model => model.usuario.Json, new { id = "objUsuario" })

    <!-- Content -->
    <div class="container">

        <!-- Breadcrumb -->
        <section class="pull-right">
            <ul class="breadcrumb">
                <li><a href="/Home/Index"><i class="fa fa-home mr-3"></i>@ViewData["Root"]</a></li>
                <li><a href="#">@ViewData["Modulo"]</a></li>
                <li class="active">@ViewData["Option"]</li>
            </ul>
        </section>
        <!-- ./breadcrumb -->
        <!-- Search -->
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>Opciones de búsqueda</legend>
                                <div id="#inputListaSeleccionMeses" class="form-group">
                                    <label for="MesesSeleccionados">Mes</label>
                                    @Html.DropDownListFor(model => model.ComboMeses.MesesSeleccionados, 
                                        new SelectList(Model.ComboMeses.Meses, "Value", "Text"), htmlAttributes: 
                                            new { @class = "form-control select2", multiple = "", title = "Meses seleccionados" })
                                </div>
                                <!-- /.form-group -->
                                <div id="#inputListaSeleccionAnios" class="form-group">
                                    <label for="AniosSeleccionados">Año</label>
                                    @Html.DropDownListFor(model => model.ComboAnios.AniosSeleccionados, 
                                        new SelectList(Model.ComboAnios.Anios, "Value", "Text"), htmlAttributes: 
                                            new { @class = "form-control select2", multiple = "", title = "Años seleccionados" })
                                </div>
                                <!-- /.form-group -->
                                <div id="#inputListaSeleccionMunicipios" class="form-group">
                                    <label for="MunicipiosSeleccionados">Municipios</label>
                                    @Html.DropDownListFor(model => model.ComboMunicipios.MunicipiosSeleccionados, 
                                        new SelectList(Model.ComboMunicipios.Municipios, "Value", "Text"), 
                                            htmlAttributes: new { @class = "form-control select2", multiple = "", title = "Municipios seleccionados" })
                                </div>
                                <!-- /.form-group -->
                                <br />
                                <div class="form-group" style="padding-bottom:10px;">
                                    <div class="btn-group">
                                        <button id="consultarDatosProcesadosBtn" type="button" class="btn btn-success"
                                                title="Buscar información de nacimientos">Buscar <i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="note-feet"><strong>* Seleccione el periodo y los municipios (Si se dejan en blanco, se realizará el cálculo general: "todos los registros de la base de datos").</strong></p>
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./search -->
        <!-- Result -->
        <section id="cantidadesResumenConsulta" style="display:none;">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Panel -->
                    <div class="panel panel-default">
                        <!-- Heading -->
                        <div class="panel-heading">
                            <span class="panel-title">Resultados de la comparación</span>
                        </div>
                        <!-- ./heading -->
                        <!-- Body -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="description-block">
                                        <a id="subregistradosLink" class="description-block-review-link" href="#subregistradosTab" data-toggle="tab" aria-expanded="true">
                                            <div id="TotalSubregistro"></div>
                                            <div id="PorcentajeSubregistro" class="badge badge-primary"></div>
                                            <div style="margin-top:5px;">Subregistro</div>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3">
                                    <div class="description-block">
                                        <a id="registradosLink" class="description-block-review-link" href="#registradosTab" data-toggle="tab" aria-expanded="true">
                                            <div id="TotalRegistroOportuno"></div>
                                            <div id="PorcentajeRegistroOportuno" class="badge badge-success"></div>
                                            <div style="margin-top:5px;">Registro Oportuno</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="description-block">
                                        <a id="extemporaneosLink" class="description-block-review-link" href="#extemporaneosTab" data-toggle="tab" aria-expanded="true">
                                            <div id="TotalRegistroExtemporaneo"></div>
                                            <div id="PorcentajeRegistroExtemporaneo" class="badge badge-warning">20%</div>
                                            <div style="margin-top:5px;">Registro Extemporáneo</div>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3">
                                    <div class="description-block" >
                                        <a id="resumenTotalesLink" class="description-block-review-link"  href="#resumenTotalesTab" data-toggle="tab" aria-expanded="true">
                                            <br /><div><i class="fa fa-danger fa-line-chart"></i></div>
                                            <div style="margin-top:5px;">Resumen por Municipio</div>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./body -->
                        <div id="resultadosPanelFooterTable" class="panel-footer" style="display:block">
                            <div class="tab-content">
                                <!-- Results -->
                                <div id="subregistradosTab" class="row tab-pane fade in">
                                    <div class="col-sm-12">
                                        <p class="text-center"><strong>Nacimientos con Subregistro</strong></p>
                                        <div id="subregistradosTableContainer" class="table-container">
                                            <div class="col-sm-12">
                                                <div id="subregistradosTableBottonsContainer" class="btn-group btn-group-justified"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <div id="registradosTab" class="row tab-pane fade in">
                                    <div class="col-sm-12">
                                        <p class="text-center"><strong>Nacimientos con Registro</strong></p>
                                        <div id="registradosTableContainer" class="table-container">
                                            <div class="col-sm-12">
                                                <div id="registradosTableBottonsContainer" class="btn-group btn-group-justified"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <div id="extemporaneosTab" class="row tab-pane fade in">
                                    <div class="col-sm-12">
                                        <p class="text-center"><strong>Nacimientos con Registro Extemporáneo</strong></p>
                                        <div id="extemporaneosTableContainer" class="table-container">
                                            <div class="col-sm-12">
                                                <div id="extemporaneosTableBottonsContainer" class="btn-group btn-group-justified"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <div id="resumenTotalesTab" class="row tab-pane fade in">
                                    <div class="col-sm-12">
                                        <p class="text-center"><strong>Resumen por Municipio</strong></p>
                                        <div id="resumenTotalesTableContainer" class="table-container">
                                            <div class="col-sm-12">
                                                <div id="resumenTotalesTableBottonsContainer" class="btn-group btn-group-justified"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                            </div>
                        </div>
                        <!-- ./footer -->
                    </div>
                    <!-- ./panel -->
                </div>
                <!-- ./col -->
            </div>
            <!-- ./row -->
        </section>
        <!-- ./result -->

    </div>
    <!-- ./content -->

</div>
<!-- ./page content -->