@model SadenaFenix.Transport.Usuarios.Acceso.ConsultarUsuariosRespuesta

<!--   Layout = "~/Views/Shared/_GeoLayout.cshtml"; Scope -->
@{
    Layout = "~/Views/Shared/_GeoLayout.cshtml";
    ViewData["Root"] = "Sadena";
    ViewData["Modulo"] = "Administración de Usuarios";
    ViewData["Option"] = "Usuarios";
    ViewData["TableName"] = "Consulta de Usuarios";
    ViewData["Title"] = ViewData["Modulo"] + " / " + ViewData["Option"];
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/js/usuarios/consultaUsuarios.js")"></script>
}

<!-- Modal large -->
<div id="ConfirmacionModal" class="modal fade in" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="Titulo" class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p id="Mensaje" class="modal-text">One fine body…</p>
            </div>
            <div id="buttonsContainer" class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="largeModalAcceptBtn" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal large -->
<div id="DialogoModal" class="modal fade in" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p class="modal-text">One fine body…</p>
            </div>
            <div class="modal-footer">
                <button id="largeModalAcceptBtn" type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="page-content">
    <input type="hidden" name="objUsuario" id="objUsuario" value="@ViewBag.UserJson" />

    <!-- Container -->
    <div class="container">

        <!-- Breadcrumb -->
        <section class="pull-right">
            <ul class="breadcrumb">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home mr-3"></i>@ViewData["Root"]</a></li>
                <li><a href="#">@ViewData["Modulo"]</a></li>
                <li class="active">@ViewData["Option"]</li>
            </ul>
        </section>
        <!-- ./breadcrumb -->
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well loading-well">
                        <!-- Form -->
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>@ViewData["TableName"]</legend>
                                <div class="table-responsive">
                                    <table id="usuariosTabla" class="table table-condensed table-striped table-bordered" style="position:relative">
                                        <thead>
                                            <tr>
                                                @for (int j = 0; j < Model.DTUsuarios.Columns.Count; j++)
                                                {
                                                    <th>@Model.DTUsuarios.Columns[j]</th>
                                                }
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.DTUsuarios.Rows.Count; i++)
                                            {
                                            <tr class=@Model.DTUsuarios.Rows[i][0]>
                                                @for (int j = 0; j < Model.DTUsuarios.Columns.Count; j++)
                                                {
                                                    <td>@Model.DTUsuarios.Rows[i][j]</td>
                                                }

                                                <td>
                                                    <a class="actualizarUsuario" idUsuario="@Model.DTUsuarios.Rows[i][0]" href="#">Actualizar</a>
                                                </td>
                                                @if (int.Equals(@Model.DTUsuarios.Rows[i][6], 1))
                                                {
                                                    <td>
                                                        <a class="eliminarUsuario" idUsuario="@Model.DTUsuarios.Rows[i][0]" href="#">Eliminar</a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>Eliminado</td>
                                                }
                                            </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                @for (int j = 0; j < Model.DTUsuarios.Columns.Count; j++)
                                                {
                                                    <th>@Model.DTUsuarios.Columns[j]</th>
                                                }
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </fieldset>
                        </form>
                        <!-- ./form -->
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- ./container -->

</div>
<!-- ./page content -->
