@model SadenaFenix.Transport.Georeferenciacion.ConsultarOficinasRespuesta

<!--   Layout = "~/Views/Shared/_GeoLayout.cshtml"; Scope -->
@{
    Layout = "~/Views/Shared/_GeoLayout.cshtml";
    ViewData["Root"] = "Sadena";
    ViewData["Modulo"] = "Georeferenciación";
    ViewData["Option"] = "Oficialías/Módulos Hospitalarios";
    ViewData["TableName"] = "Consulta de Oficialías/Módulos Hospitalarios";
    ViewData["Title"] = ViewData["Modulo"] + " / " + ViewData["Option"];
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/js/georefenciacion/consultaOficinas.js")"></script>
    <script src="@Url.Content("~/Scripts/js/utilerias/mapaConsultaOficinas.js")"></script>
    <!-- Replace the value of the key parameter with your own API key. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZR7MAkSG9XJovKvEhEfBOa--vPwt5IzM&libraries=places&callback=initMap"
            async defer></script>
}


<!-- Page content -->
    <div class="page-content">
        @Html.HiddenFor(model => model.UserJson, new { id = "objUsuario" })

        <!-- Container -->
        <div class="container">

            <!-- Breadcrumb -->
            <section class="pull-right">
                <ul class="breadcrumb">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home mr-3"></i>@ViewData["Root"]</a></li>
                    <li><a href="#">@ViewData["Modulo"]</a></li>
                    <li class="active">@ViewData["Option"]</li>
                </ul>
            </section>
            <!-- ./breadcrumb -->
            <section>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well loading-well">
                            <!-- Form -->
                            <form class="form-horizontal">
                                <fieldset>
                                    <legend>@ViewData["TableName"]</legend>
                                    <div class="table-responsive">
                                        <table id="OficinasTabla" class="table table-condensed table-striped table-bordered" style="position:relative">
                                            <thead>
                                                <tr>
                                                    <th>Oficina ID</th>
                                                    <th>Municipio ID</th>
                                                    <th>Municipio</th>
                                                    <th>Localidad ID</th>
                                                    <th>Localidad</th>
                                                    <th>TipoOficina</th>
                                                    <th>TipoInstitucion</th>
                                                    <th>Institucion</th>
                                                    <th>Latitud</th>
                                                    <th>Longitud</th>
                                                    <th>Region</th>
                                                    <th>Calle</th>
                                                    <th>Número</th>
                                                    <th>Colonia</th>
                                                    <th>C.P.</th>
                                                    <th>Entre calles</th>
                                                    <th>Horario de atención</th>
                                                    <th>Teléfono</th>
                                                    <th>Nombre(s) del Oficial</th>
                                                    <th>Apellido(s) del Oficial</th>
                                                    <th>E-mail</th>
                                                    <th>Servicio de luz</th>
                                                    <th>Servicio de agua</th>
                                                    <th>Local propio</th>
                                                    <th>Servicio sanitario</th>
                                                    <th>Escritorios</th>
                                                    <th>Sillas</th>
                                                    <th>Archivero, estantes</th>
                                                    <th>Equipo de computo privado</th>
                                                    <th>Equipo de computo de gobierno</th>
                                                    <th>Escaner privado</th>
                                                    <th>Escaner de gobierno</th>
                                                    <th>Impresora privada</th>
                                                    <th>Impresora de gobierno</th>
                                                    <th>Internet</th>
                                                    <th>Trabajo con Internet</th>
                                                    <th>Ventanilla express</th>
                                                    <th>Conexión con DRC</th>
                                                    <th>Expide CURP</th>
                                                    <th>Expide actas de otros estados</th>
                                                    
                                                    @if (ViewBag.perfilInvalido != 1)
                                                    {
                                                        <th></th>
                                                        <th></th>
                                                    }

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.DTOficinas.Rows.Count; i++)
                                                {
                                                <tr class="regOficina"
                                                    oid="@Model.DTOficinas.Rows[i][0]"
                                                    id="@Model.DTOficinas.Rows[i][1]"
                                                    mpio="@Model.DTOficinas.Rows[i][3]"
                                                    tipo="@Model.DTOficinas.Rows[i][6]"
                                                    lat="@Model.DTOficinas.Rows[i][9]"
                                                    lng="@Model.DTOficinas.Rows[i][10]">
                                                    <td>@Model.DTOficinas.Rows[i][1]</td>
                                                    <td>@Model.DTOficinas.Rows[i][2]</td>
                                                    <td>@Model.DTOficinas.Rows[i][3]</td>
                                                    <td>@Model.DTOficinas.Rows[i][4]</td>
                                                    <td>@Model.DTOficinas.Rows[i][5]</td>
                                                    <td>@Model.DTOficinas.Rows[i][6]</td>
                                                    <td>@Model.DTOficinas.Rows[i][7]</td>
                                                    <td>@Model.DTOficinas.Rows[i][8]</td>
                                                    <td>@Model.DTOficinas.Rows[i][9]</td>
                                                    <td>@Model.DTOficinas.Rows[i][10]</td>
                                                    <td>@Model.DTOficinas.Rows[i][11]</td>
                                                    <td>@Model.DTOficinas.Rows[i][12]</td>
                                                    <td>@Model.DTOficinas.Rows[i][13]</td>
                                                    <td>@Model.DTOficinas.Rows[i][14]</td>
                                                    <td>@Model.DTOficinas.Rows[i][15]</td>
                                                    <td>@Model.DTOficinas.Rows[i][16]</td>
                                                    <td>@Model.DTOficinas.Rows[i][17]</td>
                                                    <td>@Model.DTOficinas.Rows[i][18]</td>
                                                    <td>@Model.DTOficinas.Rows[i][19]</td>
                                                    <td>@Model.DTOficinas.Rows[i][20]</td>
                                                    <td>@Model.DTOficinas.Rows[i][21]</td>
                                                    <td>@Model.DTOficinas.Rows[i][22]</td>
                                                    <td>@Model.DTOficinas.Rows[i][23]</td>
                                                    <td>@Model.DTOficinas.Rows[i][24]</td>
                                                    <td>@Model.DTOficinas.Rows[i][25]</td>
                                                    <td>@Model.DTOficinas.Rows[i][26]</td>
                                                    <td>@Model.DTOficinas.Rows[i][27]</td>
                                                    <td>@Model.DTOficinas.Rows[i][28]</td>
                                                    <td>@Model.DTOficinas.Rows[i][29]</td>
                                                    <td>@Model.DTOficinas.Rows[i][30]</td>
                                                    <td>@Model.DTOficinas.Rows[i][31]</td>
                                                    <td>@Model.DTOficinas.Rows[i][32]</td>
                                                    <td>@Model.DTOficinas.Rows[i][33]</td>
                                                    <td>@Model.DTOficinas.Rows[i][34]</td>
                                                    <td>@Model.DTOficinas.Rows[i][35]</td>
                                                    <td>@Model.DTOficinas.Rows[i][36]</td>
                                                    <td>@Model.DTOficinas.Rows[i][37]</td>
                                                    <td>@Model.DTOficinas.Rows[i][38]</td>
                                                    <td>@Model.DTOficinas.Rows[i][39]</td>
                                                    <td>@Model.DTOficinas.Rows[i][40]</td>

                                                    @if (ViewBag.perfilInvalido != 1)
                                                    {
                                                        <td>
                                                            <a href="@Url.Action("ActualizarOficina","Oficinas",new {@id=@Model.DTOficinas.Rows[i][0]})">Actualizar</a>
                                                        </td>
                                                        <td>
                                                            <a class="eliminarAction" oid="@Model.DTOficinas.Rows[i][0]" href="#">Eliminar</a>
                                                        </td>
                                                    }
                                                </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Oficina ID</th>
                                                    <th>Municipio ID</th>
                                                    <th>Municipio</th>
                                                    <th>Localidad ID</th>
                                                    <th>Localidad</th>
                                                    <th>TipoOficina</th>
                                                    <th>TipoInstitucion</th>
                                                    <th>Institucion</th>
                                                    <th>Latitud</th>
                                                    <th>Longitud</th>
                                                    <th>Region</th>
                                                    <th>Calle</th>
                                                    <th>Número</th>
                                                    <th>Colonia</th>
                                                    <th>C.P.</th>
                                                    <th>Entre calles</th>
                                                    <th>Horario de atención</th>
                                                    <th>Teléfono</th>
                                                    <th>Nombre(s) del Oficial</th>
                                                    <th>Apellido(s) del Oficial</th>
                                                    <th>E-mail</th>
                                                    <th>Servicio de luz</th>
                                                    <th>Servicio de agua</th>
                                                    <th>Local propio</th>
                                                    <th>Servicio sanitario</th>
                                                    <th>Escritorios</th>
                                                    <th>Sillas</th>
                                                    <th>Archivero, estantes</th>
                                                    <th>Equipo de computo privado</th>
                                                    <th>Equipo de computo de gobierno</th>
                                                    <th>Escaner privado</th>
                                                    <th>Escaner de gobierno</th>
                                                    <th>Impresora privada</th>
                                                    <th>Impresora de gobierno</th>
                                                    <th>Internet</th>
                                                    <th>Trabajo con Internet</th>
                                                    <th>Ventanilla express</th>
                                                    <th>Conexión con DRC</th>
                                                    <th>Expide CURP</th>
                                                    <th>Expide actas de otros estados</th>
                                                    @if (ViewBag.perfilInvalido != 1)
                                                    {
                                                        <th></th>
                                                        <th></th>
                                                    }
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </fieldset>
                            </form>
                            <!-- ./form -->
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- ./container -->
        <!-- Container -->
        <div class="container">

            <section>

                <div style="display: none">
                    <input id="inputUbicacionMapa"
                           class="controls"
                           type="text"
                           placeholder="Introduce la ubicación">
                </div>

                @*<div id="infowindow-content">
            <span id="place-name" class="title"></span><br>
            <strong>Place ID:</strong> <span id="place-id"></span><br>
            <span id="place-address"></span>
        </div>*@

                <div id="infowindow-content">
                    <img src="" width="16" height="16" id="place-icon">
                    <span id="place-name" class="title"></span><br>
                    <span id="place-address"></span>
                </div>

                <div class="col-sm-12">
                    <div id="mapGoogle" class="z-depth-1-half map-container" style="height: 500px; width: 100%">
                        <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                                style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </section>

        </div>
        <!-- ./container -->

    </div>
<!-- ./page content -->
