<!-- Imports -->
@model Sadena.Models.Usuarios.Usuario
<!-- Scope -->
@{
    ViewData["Root"] = "Sadena";
    ViewData["Version"] = "1.0.0";
    ViewData["Year"] = "2018";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["Root"]</title>

    <!-- Styles -->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.css" />
        <link rel="stylesheet" href="~/lib/bootswatch/3/simplex/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/jquery-jvectormap/jquery-jvectormap-2.0.3.css" /> />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"
              asp-fallback-href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/css/select2.min.css"
              asp-fallback-href="~/lib/select2/dist/css/select2.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://bootswatch.com/3/simplex/bootstrap.min.css"
              asp-fallback-href="~/lib/bootswatch/3/simplex/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/jquery-jvectormap/jquery-jvectormap-2.0.3.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>

    <!-- Navegation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Brand -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewData["Root"]</a>
            </div>
            <!-- Menu-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="dropdown" style="display:block;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span>Nacimientos <span class="caret"></span></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li style="display:block;">
                                <a asp-area="" asp-fragment="Nacimientos" asp-controller="Archivos" asp-action="Importar">Importar archivos</a>
                            </li>
                            <li class="divider" style="display:block;"></li>
                            <li><a asp-area="" asp-fragment="Nacimientos" asp-controller="Consultas" asp-action="Consultas">Consultar</a></li>
                            <li><a asp-area="" asp-fragment="Nacimientos" asp-controller="Reportes" asp-action="Reportes">Reportes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" style="display:block;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span>Georeferenciación <span class="caret"></span></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li style="display:block;">
                                <a asp-area="" asp-fragment="Georeferenciacion" asp-controller="Oficialias" asp-action="Inicio">Oficialías</a></li>
                            <li><a asp-area="" asp-fragment="Georeferenciacion" asp-controller="Hospitales" asp-action="Inicio">Hospitales</a></li>
                            <li><a asp-area="" asp-fragment="Georeferenciacion" asp-controller="Modulos" asp-action="Inicio">Módulos Hospitalarios</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Right menu -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Acerca de</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contacto</a></li>
                    <li class="dropdown" style="display:block;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span><i class="fa fa-user-circle-o"></i></span>
                        </a>
                        <!-- User's menu -->
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <!-- Session's info -->
                                <div class="col-sm-12">
                                    <h5>
                                        <strong>Adminstrador @Html.DisplayFor(model => model.Rol.RolDesc)</strong>
                                        <br /><small>admin@sadena.gob.mx @Html.DisplayFor(model => model.CorreoE)</small>
                                    </h5>
                                </div>
                            </li>
                            <li>
                                <a asp-area="" asp-fragment="Usuarios" asp-controller="Acceso" asp-action="Salir">
                                    <span><i class="fa fa-sign-out mr-3"></i>Salir</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ./navegation -->
    <!-- Main container -->
    <div class="container-fluid">
        @RenderBody()

        <!-- Footer -->
        <div class="footer-container">
            <hr />
            <footer>
                <!-- Version -->
                <div class="pull-right hidden-xs">
                    <b>Versión</b> @ViewData["Version"]
                </div>
                <!-- Default -->
                <strong>
                    Copyright &copy; @ViewData["Year"] -
                    <a asp-area="" asp-controller="Home" asp-action="Index">@ViewData["Root"]</a>.
                </strong> Todos los derechos reservados.
            </footer>
        </div>
        <!-- ./footer -->

    </div>
    <!-- ./main container -->
    <!-- Modal -->
    <div id="defaultModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Mensaje</h4>
                </div>
                <div class="modal-body">
                    <p id="defaultModalMessage"></p>
                </div>
                <div class="modal-footer">
                    <form action="/Nacimientos/Comparar">
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Continuar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ./modal -->

    <partial name="_CookieConsentPartial" />

    <!-- Scripts -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/lib/select2/dist/js/select2.full.js"></script>
        <script src="~/lib/jquery-jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
        <script src="~/js/maps/jqvmap/jquery.vmap.municipios_coahuila.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/nacimientos/reportes/reportes.js" asp-append-version="true"></script>

    </environment>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"
                asp-fallback-src="~/lib/datatables.net/js/jquery.dataTables.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous">
        </script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"
                asp-fallback-src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/js/select2.full.min.js"
                asp-fallback-src="~/lib/select2/dist/js/select2.full.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/jquery-jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
        <script src="~/js/maps/jqvmap/jquery.vmap.municipios_coahuila.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/nacimientos/reportes/reportes.min.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
