@{
    ViewData["Root"] = "Sadena";
}
<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @Html.Partial("~/Views/Include/_PrincipalStylesImport.cshtml")
    @Html.Partial("~/Views/Include/_SpecificStylesImport.cshtml")
    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.Partial("~/Views/Layout/_Navbar.cshtml")
    <!-- Container -->
    <div class="container-fluid">
        @RenderBody()
        @Html.Partial("~/Views/Layout/_Footer.cshtml")
    </div>
    <!-- ./container -->
    @Html.Partial("~/Views/Layout/_Modals.cshtml");
    @Html.Partial("~/Views/Include/_PrincipalScriptsImport.cshtml")
    @Html.Partial("~/Views/Include/_SpecificScriptsImport.cshtml")
    @RenderSection("Scripts", required: false)

</body>
</html>
