@model dynamic

<div id="RExtemporaneoRelacionPorFolio">
    <div id="ExtemporaneoRelacionPorFolioTableContainer" class="table-container table-responsive">
        <div class="col-sm-12">
            <div id="ExtemporaneoRelacionPorFolioTableBottonsContainer" class="btn-group btn-group-justified">
                <div class="table-responsive">
                    <table id="ExtemporaneoRelacionPorFolioTabla" class="table table-condensed table-striped table-bordered" style="position:relative">
                        <thead>
                            <tr>
                                @for (int j = 0; j < Model.ExtemporaneoRelacionPorFolio.Columns.Count; j++)
                                {
                                    <th>@Model.ExtemporaneoRelacionPorFolio.Columns[j]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ExtemporaneoRelacionPorFolio.Rows.Count; i++)
                            {
                                <tr class=@Model.ExtemporaneoRelacionPorFolio.Rows[i][0]>
                                    @for (int j = 0; j < Model.ExtemporaneoRelacionPorFolio.Columns.Count; j++)
                                    {
                                        <td>@Model.ExtemporaneoRelacionPorFolio.Rows[i][j]</td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                @for (int j = 0; j < Model.ExtemporaneoRelacionPorFolio.Columns.Count; j++)
                                {
                                    <th>@Model.ExtemporaneoRelacionPorFolio.Columns[j]</th>
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="RExtemporaneoRelacionPorFecha">
    <div id="ExtemporaneoRelacionPorFechaTableContainer" class="table-container table-responsive">
        <div class="col-sm-12">
            <div id="ExtemporaneoRelacionPorFechaTableBottonsContainer" class="btn-group btn-group-justified">
                <div class="table-responsive">
                    <table id="ExtemporaneoRelacionPorFechaTabla" class="table table-condensed table-striped table-bordered" style="position:relative">
                        <thead>
                            <tr>
                                @for (int j = 0; j < Model.ExtemporaneoRelacionPorFecha.Columns.Count; j++)
                                {
                                    <th>@Model.ExtemporaneoRelacionPorFecha.Columns[j]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ExtemporaneoRelacionPorFecha.Rows.Count; i++)
                            {
                                <tr class=@Model.ExtemporaneoRelacionPorFecha.Rows[i][0]>
                                    @for (int j = 0; j < Model.ExtemporaneoRelacionPorFecha.Columns.Count; j++)
                                    {
                                        <td>@Model.ExtemporaneoRelacionPorFecha.Rows[i][j]</td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                @for (int j = 0; j < Model.ExtemporaneoRelacionPorFecha.Columns.Count; j++)
                                {
                                    <th>@Model.ExtemporaneoRelacionPorFecha.Columns[j]</th>
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
