@{
    /**/

    Layout = "~/Views/Shared/_GeoLayout.cshtml";
    ViewData["Root"] = "Sadena";
    ViewData["Modulo"] = "Nacimientos";
    ViewData["Option"] = "Consultas";
    ViewData["Title"] = ViewData["Modulo"] + " / " + ViewData["Option"];
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/js/nacimientos/consultas/consultaAnalisisSIC.js")"></script>
}

@Html.Partial("~/Views/Nacimientos/Modales/SeleccionarConsultaSICModal.cshtml");

<!-- Page content -->
<div class="page-content">
    <input type="hidden" name="objUsuario" id="objUsuario" value="@ViewBag.UserJson" />

    <!-- Container -->
    <div class="container">

        <!-- Breadcrumb -->
        <section class="pull-right">
            <ul class="breadcrumb">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home mr-3"></i>@ViewData["Root"]</a></li>
                <li><a href="#">@ViewData["Modulo"]</a></li>
                <li class="active">@ViewData["Option"]</li>
            </ul>
        </section>
        <!-- ./breadcrumb -->
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well loading-well">
                        <!-- Form -->
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>@ViewData["TableName"]</legend>
                                <div id="tablaContenedor">
                                    <!--Respuesta por ajax-->
                                </div>

                            </fieldset>
                        </form>
                        <!-- ./form -->
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- ./container -->

</div>
<!-- ./page content -->
