@model System.Data.DataTable
<!--   Layout = "~/Views/Shared/_GeoLayout.cshtml"; Scope -->
@{
    Layout = "~/Views/Shared/_GeoLayout.cshtml";
    ViewData["Root"] = "Sadena";
    ViewData["Modulo"] = "Georeferenciación";
    ViewData["Option"] = "Localias";
    ViewData["TableName"] = "Consulta de Oficialías";
    ViewData["Title"] = ViewData["Modulo"] + " / " + ViewData["Option"];
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/js/georefenciacion/georeferenciacion.js")"></script>
}


<!-- Page content -->
<div class="page-content">

    <!-- Container -->
    <div class="container">

        <!-- Breadcrumb -->
        <section class="pull-right">
            <ul class="breadcrumb">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home mr-3"></i>@ViewData["Root"]</a></li>
                <li><a href="#">@ViewData["Modulo"]</a></li>
                <li class="active">@ViewData["Option"]</li>
            </ul>
        </section>
        <!-- ./breadcrumb -->
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well loading-well">
                        <!-- Form -->
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>@ViewData["TableName"]</legend>
                                <div class="table-responsive">
                                    <table id="OficialiasTabla" class="table table-condensed table-striped table-bordered" style="position:relative">
                                        <thead>
                                            <tr>
                                                <th>Oficialia ID</th>
                                                <th>Municipio ID</th>
                                                <th>Municipio</th>
                                                <th>Localidad ID</th>
                                                <th>Localidad</th>
                                                <th>Calle</th>
                                                <th>Número</th>
                                                <th>Colonia</th>
                                                <th>C.P.</th>
                                                <th>Teléfono</th>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Correo</th>
                                                <th>Latitud</th>
                                                <th>Longitud</th>
                                                <th>Observaciones</th>                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Rows.Count; i++)
                                            {
                                            <tr>
                                                <td>@Model.Rows[i][1]</td>
                                                <td>@Model.Rows[i][2]</td>
                                                <td>@Model.Rows[i][3]</td>
                                                <td>@Model.Rows[i][4]</td>
                                                <td>@Model.Rows[i][5]</td>
                                                <td>@Model.Rows[i][6]</td>
                                                <td>@Model.Rows[i][7]</td>
                                                <td>@Model.Rows[i][8]</td>
                                                <td>@Model.Rows[i][9]</td>
                                                <td>@Model.Rows[i][10]</td>
                                                <td>@Model.Rows[i][11]</td>
                                                <td>@Model.Rows[i][12]</td>
                                                <td>@Model.Rows[i][13]</td>
                                                <td>@Model.Rows[i][14]</td>
                                                <td>@Model.Rows[i][15]</td>
                                                <td>@Model.Rows[i][16]</td>                                                                                            
                                            </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Oficialia ID</th>
                                                <th>Municipio ID</th>
                                                <th>Municipio</th>
                                                <th>Localidad ID</th>
                                                <th>Localidad</th>
                                                <th>Calle</th>
                                                <th>Número</th>
                                                <th>Colonia</th>
                                                <th>C.P.</th>
                                                <th>Teléfono</th>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Correo</th>
                                                <th>Latitud</th>
                                                <th>Longitud</th>
                                                <th>Observaciones</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </fieldset>
                        </form>
                        <!-- ./form -->
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- ./container -->

</div>
<!-- ./page content -->
