@* Model *@
@model SadenaFenix.Models.Usuarios.Usuario

@{
    
    ViewData["Root"] = "Sadena";
    ViewData["Option"] = "Inicio de Sesión";
    ViewData["Title"] = ViewData["Root"] + " / " + ViewData["Option"];

}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/js/usuarios/ingresarUsuario.js")"></script>
}

<input type="hidden" id="ErrorAcceso" value="@ViewBag.ErrorAcceso" />

<!-- Modal large -->
<div id="DialogoModal" class="modal fade in" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p class="modal-text">One fine body…</p>
            </div>
            <div class="modal-footer">
                <button id="largeModalAcceptBtn" type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="page-content">

    <!-- Container -->
    <div class="container">

        <!-- Login -->
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <div class="login-panel-container">
                        <!-- Panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="simple-icon pull-right"><i class="fa fa-user-circle-o"></i></span>
                                <h3 class="panel-title">@ViewData["Option"]</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- Form -->
                                        <form class="form-horizontal" action="/Acceso/IniciarSesion" method="get">
                                            <fieldset>
                                                <legend>Credenciales</legend>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.UsuarioDesc, new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(model => model.CorreoE, new { @class = "form-control", @placeholder = "usuario/correo electrónico" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Contrasenia, new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        @Html.PasswordFor(model => model.Contrasenia, new { @class = "form-control", @placeholder = "Contraseña" })
                                                    </div>
                                                </div>

                                                @Html.TextBoxFor(model => model.IP, new { @class = "hiddElement" })

                                                <div class="form-group">
                                                    <div class="col-sm-10 col-sm-offset-2">
                                                        <a class="btn btn-default btn-width-80" href="/Home/Index">Regresar</a>
                                                        <button type="submit" class="btn btn-primary btn-width-80">Entrar</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                        <!-- ./form -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .panel -->

                    </div>
                </div>
            </div>
        </section>
        <!-- ./login -->

    </div>
    <!-- ./container -->

</div>
<!-- ./page content -->
